<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html style="position: relative; min-height: 100%;" lang="en">
<!--<![endif]-->

<!-- webill example number 809510 -->
<!-- username is Avion -->
<!-- password is #14771#  -->
<!-- toekn is generated -->
<!-- to test the web service, run the following command in the cmd and naviagte to this webpage -->
<!-- chrome.exe --user-data-dir="C:/Chrome dev session" --disable-web-security -->
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<style type="text/css">
		[uib-typeahead-popup].dropdown-menu {
			display: block;
		}
	</style>
	<style type="text/css">
		.uib-time input {
			width: 50px;
		}
	</style>
	<style type="text/css">
		.uib-datepicker .uib-title {
			width: 100%;
		}

		.uib-day button,
		.uib-month button,
		.uib-year button {
			min-width: 100%;
		}

		.uib-datepicker-popup.dropdown-menu {
			display: block;
		}

		.uib-button-bar {
			padding: 10px 9px 2px;
		}
	</style>
	<style type="text/css">
		.ng-animate.item:not(.left):not(.right) {
			-webkit-transition: 0s ease-in-out left;
			transition: 0s ease-in-out left
		}
	</style>
	<style type="text/css">
		@charset "UTF-8";

		[ng\:cloak],
		[ng-cloak],
		[data-ng-cloak],
		[x-ng-cloak],
		.ng-cloak,
		.x-ng-cloak,
		.ng-hide:not(.ng-hide-animate) {
			display: none !important;
		}

		ng\:form {
			display: block;
		}

		.ng-animate-shim {
			visibility: hidden;
		}

		.ng-anchor {
			position: absolute;
		}
	</style>
	<title>Avion Express - South Africa</title>
	<!-- Meta -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="keyword" content="">
	<meta name="description" content="">
	<meta name="author" content="">
	<!-- Favicon -->
	<link rel="shortcut icon" href="favicon.ico">
	<!-- Web Fonts -->
	<link rel="stylesheet" type="text/css" href="index_files/css_002.css"> <!-- body -->
	<link rel="stylesheet" type="text/css" href="index_files/css.css"> <!-- nav items -->
	<!-- CSS Global Compulsory -->
	<link rel="stylesheet" href="index_files/bootstrap.css">
	<link rel="stylesheet" href="index_files/style.min.css">
	<!-- CSS Header and Footer -->
	<link rel="stylesheet" href="index_files/header-v6.min.css">

	<link rel="stylesheet" href="index_files/footer-v1.css">

	<!-- CSS Implementing Plugins -->
	<link rel="stylesheet" href="index_files/animate.min.css">
	<link rel="stylesheet" href="index_files/styles.min.css">
	<link rel="stylesheet" href="index_files/line-icons.min.css">
	<link rel="stylesheet" href="index_files/font-awesome.css">
	<link rel="stylesheet" type="text/css" href="css/all.min.css">
	<link rel="stylesheet" type="text/css" href="css/fontawesome.min.css">

	<link rel="stylesheet" href="index_files/sky-forms.min.css">
	<link rel="stylesheet" href="index_files/custom-sky-forms.min.css">
	<!--[if lt IE 9]><link rel="stylesheet" href="~/assets/plugins/sky-forms-pro/skyforms/css/sky-forms-ie8.css"><![endif]-->


	<link rel="stylesheet" href="index_files/shortcode_timeline2.min.css">


	<!-- CSS Theme -->
	<link rel="stylesheet" href="index_files/light.min.css" id="style_color">
	<link rel="stylesheet" href="index_files/dark.min.css">
	<!-- CSS Customization -->
	<link rel="stylesheet" href="index_files/bootstrap-xl.min.css">
	<link rel="stylesheet" href="index_files/beaudigital-spacing.css">
	<link rel="stylesheet" href="index_files/custom.min.css">

	<!--google analytics-->
</head>

<body class="header-fixed header-fixed-space ng-scope" ng-app="ngCvgxApp" ng-controller="cvgxController" style="margin-bottom: 140px;">



	<div class="wrapper">
		<!--=== Header ===-->
		<!-- For Printing -->
		<div class="container visible-print">
			<div class="row">
				<div class="col-xs-4">
					<img style="height : 72px;" src="index_files/logo-avion-express.png" alt="Logo">
				</div>
				<div class="col-xs-8 text-right" style="line-height : 72px;">
					track-a-package.html
				</div>
			</div>
		</div>
		<!--=== Header v6 ===-->
		<div class="header-v6 header-classic-dark header-sticky hidden-print">
			<!-- Navbar -->
			<div class="navbar mega-menu" role="navigation">
				<div class="container">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="menu-container">
						<button type="button" class="navbar-toggle margin-top-25 margin-bottom-10" data-toggle="collapse" data-target=".navbar-responsive-collapse">
							<span class="sr-only">Toggle navigation</span>
							<i class="fa fa-3x fa-bars color-white text-tight"></i>
						</button>

						<!-- Navbar Brand -->
						<div class="navbar-brand">
							<img class="nav-diag hidden-xs hidden-sm hidden-md" src="index_files/nav-diag-left.jpg">
							<a class="logo" href="index.html">

								<img class="default-logo" src="index_files/logo-avion-express.png" alt="Logo">
								<img class="shrink-logo" src="index_files/logo-avion-express.png" alt="Logo">
							</a>
							<img class="nav-diag hidden-xs hidden-sm hidden-md" src="index_files/nav-diag-right.jpg">
						</div>
						<!-- ENd Navbar Brand -->
					</div>

					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse navbar-responsive-collapse">
						<div class="menu-container">

							<ul class="nav navbar-nav hidden-xs hidden-sm">
								<li class="dropdown">

									<a href="javascript:void(0);" title="South Africa" style="padding-top: 18px;" data-toggle="dropdown" target="_self">
										<img class="" src="index_files/flag-za.png">
									</a>

								</li>
							</ul>

							<div class="navbar-exodus bg-color-white pull-right clearfix hidden-xs hidden-sm margin-left-10 margin-right-10"
							 style="display: none;">
								<img class="nav-diag hidden-md pull-right" src="index_files/nav-diag-right.jpg">
								<img class="nav-diag hidden-md" src="index_files/nav-diag-left.jpg">

							</div>

							<ul class="nav navbar-nav">

								<!-- ngRepeat: page in mainnav.page | filter:{ url: '!za/tips'} -->
								<li ng-repeat="page in mainnav.page | filter:{ url: '!za/tips'}" ng-class="{dropdown : (page.page.length &gt; 0)}"
								 class="ng-scope">
									<a href="index.html" title="Home" ng-bind-html="page.title" ng-show="page.url.length &gt; 0 &amp;&amp; page.url == '/'"
									 target="_self" class="ng-binding ng-hide">Home</a>
									<a href="index.html" title="Home" ng-bind-html="page.title" ng-show="page.url.length &gt; 0 &amp;&amp; page.url != '/' &amp;&amp; page.url.indexOf('http://') == -1"
									 target="_self" class="ng-binding">Home</a>
									<a href="javascript:void(0);" title="Home" ng-bind-html="page.title + ' ' + downArrowIcon" class="dropdown-toggle ng-binding ng-hide"
									 data-toggle="dropdown" ng-show="page.url.length == 0" target="_self">Home <i class="fa fa-angle-down"></i></a>
									<ul class="dropdown-menu ng-hide" ng-show="page.page.length &gt; 0">
										<!-- ngRepeat: droppage in page.page -->
									</ul>
								</li><!-- end ngRepeat: page in mainnav.page | filter:{ url: '!za/tips'} -->
								<li ng-repeat="page in mainnav.page | filter:{ url: '!za/tips'}" ng-class="{dropdown : (page.page.length &gt; 0)}"
								 class="ng-scope">
									<a href="track-a-package.html" title="Track my Parcel" ng-bind-html="page.title" ng-show="page.url.length &gt; 0 &amp;&amp; page.url == '/'"
									 target="_self" class="ng-binding ng-hide">Track my Parcel</a>
									<a href="track-a-package.html" title="Track my Parcel" ng-bind-html="page.title" ng-show="page.url.length &gt; 0 &amp;&amp; page.url != '/' &amp;&amp; page.url.indexOf('http://') == -1"
									 target="_self" class="ng-binding">Track my Parcel</a>
									<a href="javascript:void(0);" title="Track my Parcel" ng-bind-html="page.title + ' ' + downArrowIcon" class="dropdown-toggle ng-binding ng-hide"
									 data-toggle="dropdown" ng-show="page.url.length == 0" target="_self">Track my Parcel <i class="fa fa-angle-down"></i></a>
									<ul class="dropdown-menu ng-hide" ng-show="page.page.length &gt; 0">
										<!-- ngRepeat: droppage in page.page -->
									</ul>
								</li><!-- end ngRepeat: page in mainnav.page | filter:{ url: '!za/tips'} -->
								<li ng-repeat="page in mainnav.page | filter:{ url: '!za/tips'}" ng-class="{dropdown : (page.page.length &gt; 0)}"
								 class="ng-scope">
									<a href="https://www.ewaybill.co.za/" title="EWAYBILL" ng-bind-html="page.title" ng-show="page.url.length &gt; 0 &amp;&amp; page.url == '/'"
									 target="_self" class="ng-binding ng-hide">EWAYBILL</a>
									<a href="https://www.ewaybill.co.za/" title="EWAYBILL" ng-bind-html="page.title" ng-show="page.url.length &gt; 0 &amp;&amp; page.url != '/' &amp;&amp; page.url.indexOf('http://') == -1"
									 target="_self" class="ng-binding">EWAYBILL</a>
									<a href="javascript:void(0);" title="EWAYBILL" ng-bind-html="page.title + ' ' + downArrowIcon" class="dropdown-toggle ng-binding ng-hide"
									 data-toggle="dropdown" ng-show="page.url.length == 0" target="_self">EWAYBILL <i class="fa fa-angle-down"></i></a>
									<ul class="dropdown-menu ng-hide" ng-show="page.page.length &gt; 0">
										<!-- ngRepeat: droppage in page.page -->
									</ul>
								</li><!-- end ngRepeat: page in mainnav.page | filter:{ url: '!za/tips'} -->
								<li ng-repeat="page in mainnav.page | filter:{ url: '!za/tips'}" ng-class="{dropdown : (page.page.length &gt; 0)}"
								 class="ng-scope dropdown">
									<a href="index.html" title="Products" ng-bind-html="page.title" ng-show="page.url.length &gt; 0 &amp;&amp; page.url == '/'"
									 target="_self" class="ng-binding ng-hide">Products</a>
									<a href="index.html" title="Products" ng-bind-html="page.title" ng-show="page.url.length &gt; 0 &amp;&amp; page.url != '/' &amp;&amp; page.url.indexOf('http://') == -1"
									 target="_self" class="ng-binding ng-hide">Products</a>
									<a href="javascript:void(0);" title="Products" ng-bind-html="page.title + ' ' + downArrowIcon" class="dropdown-toggle ng-binding"
									 data-toggle="dropdown" ng-show="page.url.length == 0" target="_self">Products <i class="fa fa-angle-down"></i></a>
									<ul class="dropdown-menu" ng-show="page.page.length &gt; 0">
										<!-- ngRepeat: droppage in page.page -->
										<li ng-repeat="droppage in page.page" ng-class="{active : (currentnav == droppage.url)}" class="ng-scope">
											<a href="domestic-courier-services.html" title="Domestic Courier Services" ng-show="droppage.url.length &gt; 0 &amp;&amp; droppage.url != '/' &amp;&amp; droppage.template.indexOf('http://') == -1"
											 ng-bind-html="droppage.title" target="_self" class="ng-binding">Domestic Courier Services</a>
											<a href="" title="Domestic Courier Services" ng-show="droppage.template.length &gt; 0 &amp;&amp; droppage.template.indexOf('http://') &gt; -1"
											 ng-bind-html="droppage.title" target="_self" class="ng-binding ng-hide">Domestic Courier Services</a>
										</li><!-- end ngRepeat: droppage in page.page -->
										<li ng-repeat="droppage in page.page" ng-class="{active : (currentnav == droppage.url)}" class="ng-scope">
											<a href="international-courier-services.html" title="International Courier Services" ng-show="droppage.url.length &gt; 0 &amp;&amp; droppage.url != '/' &amp;&amp; droppage.template.indexOf('http://') == -1"
											 ng-bind-html="droppage.title" target="_self" class="ng-binding">International Courier Services</a>
											<a href="" title="International Courier Services" ng-show="droppage.template.length &gt; 0 &amp;&amp; droppage.template.indexOf('http://') &gt; -1"
											 ng-bind-html="droppage.title" target="_self" class="ng-binding ng-hide">International Courier Services</a>
										</li><!-- end ngRepeat: droppage in page.page -->
										<li ng-repeat="droppage in page.page" ng-class="{active : (currentnav == droppage.url)}" class="ng-scope">
											<a href="freight-solutions.html" title="Freight Solutions" ng-show="droppage.url.length &gt; 0 &amp;&amp; droppage.url != '/' &amp;&amp; droppage.template.indexOf('http://') == -1"
											 ng-bind-html="droppage.title" target="_self" class="ng-binding">Freight Solutions</a>
											<a href="" title="Freight Solutions" ng-show="droppage.template.length &gt; 0 &amp;&amp; droppage.template.indexOf('http://') &gt; -1"
											 ng-bind-html="droppage.title" target="_self" class="ng-binding ng-hide">Freight Solutions</a>
										</li><!-- end ngRepeat: droppage in page.page -->
										<li ng-repeat="droppage in page.page" ng-class="{active : (currentnav == droppage.url)}" class="ng-scope">
											<a href="distribution-management-solutions.html" title="Distribution Management Solutions" ng-show="droppage.url.length &gt; 0 &amp;&amp; droppage.url != '/' &amp;&amp; droppage.template.indexOf('http://') == -1"
											 ng-bind-html="droppage.title" target="_self" class="ng-binding">Distribution Management Solutions</a>
											<a href="" title="Distribution Management Solutions" ng-show="droppage.template.length &gt; 0 &amp;&amp; droppage.template.indexOf('http://') &gt; -1"
											 ng-bind-html="droppage.title" target="_self" class="ng-binding ng-hide">Distribution Management Solutions</a>
										</li><!-- end ngRepeat: droppage in page.page -->
									</ul>
								</li><!-- end ngRepeat: page in mainnav.page | filter:{ url: '!za/tips'} -->
								<li ng-repeat="page in mainnav.page | filter:{ url: '!za/tips'}" ng-class="{dropdown : (page.page.length &gt; 0)}"
								 class="ng-scope dropdown">
									<a href="company-profile.html" title="About Us" ng-bind-html="page.title" ng-show="page.url.length &gt; 0 &amp;&amp; page.url == '/'"
									 target="_self" class="ng-binding ng-hide">About Us</a>
									<a href="company-profile.html" title="About Us" ng-bind-html="page.title" ng-show="page.url.length &gt; 0 &amp;&amp; page.url != '/' &amp;&amp; page.url.indexOf('http://') == -1"
									 target="_self" class="ng-binding ng-hide">About Us</a>
									<a href="javascript:void(0);" title="About Us" ng-bind-html="page.title + ' ' + downArrowIcon" class="dropdown-toggle ng-binding"
									 data-toggle="dropdown" ng-show="page.url.length == 0" target="_self">About Us <i class="fa fa-angle-down"></i></a>
									<ul class="dropdown-menu" ng-show="page.page.length &gt; 0">
										<!-- ngRepeat: droppage in page.page -->
										<li ng-repeat="droppage in page.page" ng-class="{active : (currentnav == droppage.url)}" class="ng-scope">
											<a href="company-profile.html" title="Company Profile" ng-show="droppage.url.length &gt; 0 &amp;&amp; droppage.url != '/' &amp;&amp; droppage.template.indexOf('http://') == -1"
											 ng-bind-html="droppage.title" target="_self" class="ng-binding">Company Profile</a>
											<a href="" title="Company Profile" ng-show="droppage.template.length &gt; 0 &amp;&amp; droppage.template.indexOf('http://') &gt; -1"
											 ng-bind-html="droppage.title" target="_self" class="ng-binding ng-hide">Company Profile</a>
										</li><!-- end ngRepeat: droppage in page.page -->
										<li ng-repeat="droppage in page.page" ng-class="{active : (currentnav == droppage.url)}" class="ng-scope">
											<a href="why-avion-express.html" title="Why Avion Express?" ng-show="droppage.url.length &gt; 0 &amp;&amp; droppage.url != '/' &amp;&amp; droppage.template.indexOf('http://') == -1"
											 ng-bind-html="droppage.title" target="_self" class="ng-binding">Why Avion Express?</a>
											<a href="" title="Why Avion Express?" ng-show="droppage.template.length &gt; 0 &amp;&amp; droppage.template.indexOf('http://') &gt; -1"
											 ng-bind-html="droppage.title" target="_self" class="ng-binding ng-hide">Why Avion Express?</a>
										</li><!-- end ngRepeat: droppage in page.page -->
									</ul>
								</li><!-- end ngRepeat: page in mainnav.page | filter:{ url: '!za/tips'} -->
								<li ng-repeat="page in mainnav.page | filter:{ url: '!za/tips'}" ng-class="{dropdown : (page.page.length &gt; 0)}"
								 class="ng-scope">
									<a href="contact-us.html" title="Contact Us" ng-bind-html="page.title" ng-show="page.url.length &gt; 0 &amp;&amp; page.url == '/'"
									 target="_self" class="ng-binding ng-hide">Contact Us</a>
									<a href="contact-us.html" title="Contact Us" ng-bind-html="page.title" ng-show="page.url.length &gt; 0 &amp;&amp; page.url != '/' &amp;&amp; page.url.indexOf('http://') == -1"
									 target="_self" class="ng-binding">Contact Us</a>
									<a href="javascript:void(0);" title="Contact Us" ng-bind-html="page.title + ' ' + downArrowIcon" class="dropdown-toggle ng-binding ng-hide"
									 data-toggle="dropdown" ng-show="page.url.length == 0" target="_self">Contact Us <i class="fa fa-angle-down"></i></a>
									<ul class="dropdown-menu ng-hide" ng-show="page.page.length &gt; 0">
										<!-- ngRepeat: droppage in page.page -->
									</ul>
								</li><!-- end ngRepeat: page in mainnav.page | filter:{ url: '!za/tips'} -->
								<li class="dropdown" style="display: none;">
									<a href="javascript:void(0);" title="South Africa" class="dropdown-toggle padding-top-15 padding-bottom-25"
									 data-toggle="dropdown" target="_self">
										<img class="" src="index_files/flag-za-circle.png">
									</a>
									<ul class="dropdown-menu">
										<li>
											<a href="index.html"><img style="height : 24px;" src="index_files/flag-za.png"> South Africa</a>
										</li>
										<li>
											<a href="index.html"><img style="height : 24px;" src="index_files/flag-us.png"> Suid-Afrika</a>
										</li>
									</ul>
								</li>

							</ul>
						</div>
					</div>
					<!--/navbar-collapse-->
				</div>
			</div>
			<!-- End Navbar -->
		</div>
		<!--=== End Header v6 ===-->
		<!-- For Screen -->
		<div class="header header-dark-not header-sticky hidden-print" style="display: none;">
			<div class="container">
				<!-- Logo -->
				<a class="logo" href="index.html">
					<img class="visible-md visible-lg" src="index_files/logo-avion-express.png" alt="Logo">
					<img class="hidden-md hidden-lg" style="width : 138px; margin-left : 0px !important;" src="index_files/logo-avion-express.png"
					 alt="Logo">
				</a>
				<!-- End Logo -->
				<!-- Topbar -->
				<div class="topbar">
					<ul class="loginbar pull-right" style="padding-left : 0px;">

						<li class="topbar-devider hidden-xs hidden-sm" style="display: none;"></li>
						<li class="hoverSelector">
							<a href="javascript:void(0);" class="dropdown-toggle" target="_self">
								<img style="height : 25px; margin : -3px 0px 0px 0px;" src="index_files/bg-flag-za.jpg">
								<i class="fa fa-angle-down" style="display: none;"></i>
							</a>

						</li>
					</ul>
				</div>
				<!-- End Topbar -->
				<!-- Toggle get grouped for better mobile display -->
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="fa fa-bars"></span>
				</button>
				<!-- End Toggle -->
			</div>
			<!--/end container-->
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse mega-menu navbar-responsive-collapse">
				<div class="container">
					<ul class="nav navbar-nav">
						<!-- ngRepeat: page in mainnav.page -->
						<li ng-repeat="page in mainnav.page" ng-class="{dropdown : (page.page.length &gt; 0)}" class="ng-scope">
							<a href="index.html" title="Home" ng-bind-html="page.title" class="color-cvgx-lightgrey ng-binding" ng-show="page.url.length &gt; 0"
							 target="_self">Home</a>
							<a href="javascript:void(0);" title="Home" ng-bind-html="page.title + ' ' + downArrowIcon" class="dropdown-toggle color-cvgx-lightgrey ng-binding ng-hide"
							 data-toggle="dropdown" ng-show="page.url.length == 0" target="_self">Home <i class="fa fa-angle-down"></i></a>
							<ul class="dropdown-menu ng-hide" ng-show="page.page.length &gt; 0">
								<!-- ngRepeat: droppage in page.page -->
							</ul>
						</li><!-- end ngRepeat: page in mainnav.page -->
						<li ng-repeat="page in mainnav.page" ng-class="{dropdown : (page.page.length &gt; 0)}" class="ng-scope">
							<a href="track-a-package.html" title="Track my Parcel" ng-bind-html="page.title" class="color-cvgx-lightgrey ng-binding"
							 ng-show="page.url.length &gt; 0" target="_self">Track my Parcel</a>
							<a href="javascript:void(0);" title="Track my Parcel" ng-bind-html="page.title + ' ' + downArrowIcon" class="dropdown-toggle color-cvgx-lightgrey ng-binding ng-hide"
							 data-toggle="dropdown" ng-show="page.url.length == 0" target="_self">Track my Parcel <i class="fa fa-angle-down"></i></a>
							<ul class="dropdown-menu ng-hide" ng-show="page.page.length &gt; 0">
								<!-- ngRepeat: droppage in page.page -->
							</ul>
						</li><!-- end ngRepeat: page in mainnav.page -->
						<li ng-repeat="page in mainnav.page" ng-class="{dropdown : (page.page.length &gt; 0)}" class="ng-scope dropdown">
							<a href="index.html" title="Products" ng-bind-html="page.title" class="color-cvgx-lightgrey ng-binding ng-hide"
							 ng-show="page.url.length &gt; 0" target="_self">Products</a>
							<a href="javascript:void(0);" title="Products" ng-bind-html="page.title + ' ' + downArrowIcon" class="dropdown-toggle color-cvgx-lightgrey ng-binding"
							 data-toggle="dropdown" ng-show="page.url.length == 0" target="_self">Products <i class="fa fa-angle-down"></i></a>
							<ul class="dropdown-menu" ng-show="page.page.length &gt; 0">
								<!-- ngRepeat: droppage in page.page -->
								<li ng-repeat="droppage in page.page" ng-class="{active : (currentnav == droppage.url)}" class="ng-scope"><a
									 href="domestic-courier-services.html" title="Domestic Courier Services" ng-bind-html="droppage.title" target="_self"
									 class="ng-binding">Domestic Courier Services</a></li><!-- end ngRepeat: droppage in page.page -->
								<li ng-repeat="droppage in page.page" ng-class="{active : (currentnav == droppage.url)}" class="ng-scope"><a
									 href="international-courier-services.html" title="International Courier Services" ng-bind-html="droppage.title"
									 target="_self" class="ng-binding">International Courier Services</a></li><!-- end ngRepeat: droppage in page.page -->
								<li ng-repeat="droppage in page.page" ng-class="{active : (currentnav == droppage.url)}" class="ng-scope"><a
									 href="freight-solutions.html" title="Freight Solutions" ng-bind-html="droppage.title" target="_self" class="ng-binding">Freight
										Solutions</a></li><!-- end ngRepeat: droppage in page.page -->
								<li ng-repeat="droppage in page.page" ng-class="{active : (currentnav == droppage.url)}" class="ng-scope"><a
									 href="distribution-management-solutions.html" title="Distribution Management Solutions" ng-bind-html="droppage.title"
									 target="_self" class="ng-binding">Distribution Management Solutions</a></li><!-- end ngRepeat: droppage in page.page -->
							</ul>
						</li><!-- end ngRepeat: page in mainnav.page -->
						<li ng-repeat="page in mainnav.page" ng-class="{dropdown : (page.page.length &gt; 0)}" class="ng-scope dropdown">
							<a href="company-profile.html" title="About Us" ng-bind-html="page.title" class="color-cvgx-lightgrey ng-binding ng-hide"
							 ng-show="page.url.length &gt; 0" target="_self">About Us</a>
							<a href="javascript:void(0);" title="About Us" ng-bind-html="page.title + ' ' + downArrowIcon" class="dropdown-toggle color-cvgx-lightgrey ng-binding"
							 data-toggle="dropdown" ng-show="page.url.length == 0" target="_self">About Us <i class="fa fa-angle-down"></i></a>
							<ul class="dropdown-menu" ng-show="page.page.length &gt; 0">
								<!-- ngRepeat: droppage in page.page -->
								<li ng-repeat="droppage in page.page" ng-class="{active : (currentnav == droppage.url)}" class="ng-scope"><a
									 href="company-profile.html" title="Company Profile" ng-bind-html="droppage.title" target="_self" class="ng-binding">Company
										Profile</a></li><!-- end ngRepeat: droppage in page.page -->
								<li ng-repeat="droppage in page.page" ng-class="{active : (currentnav == droppage.url)}" class="ng-scope"><a
									 href="why-avion-express.html" title="Why Avion Express?" ng-bind-html="droppage.title" target="_self" class="ng-binding">Why
										Avion Express?</a></li><!-- end ngRepeat: droppage in page.page -->
							</ul>
						</li><!-- end ngRepeat: page in mainnav.page -->
						<li ng-repeat="page in mainnav.page" ng-class="{dropdown : (page.page.length &gt; 0)}" class="ng-scope">
							<a href="https://www.avion-express.co.za/tips" title="Tips" ng-bind-html="page.title" class="color-cvgx-lightgrey ng-binding"
							 ng-show="page.url.length &gt; 0" target="_self">Tips</a>
							<a href="javascript:void(0);" title="Tips" ng-bind-html="page.title + ' ' + downArrowIcon" class="dropdown-toggle color-cvgx-lightgrey ng-binding ng-hide"
							 data-toggle="dropdown" ng-show="page.url.length == 0" target="_self">Tips <i class="fa fa-angle-down"></i></a>
							<ul class="dropdown-menu ng-hide" ng-show="page.page.length &gt; 0">
								<!-- ngRepeat: droppage in page.page -->
							</ul>
						</li><!-- end ngRepeat: page in mainnav.page -->
						<li ng-repeat="page in mainnav.page" ng-class="{dropdown : (page.page.length &gt; 0)}" class="ng-scope">
							<a href="contact-us.html" title="Contact Us" ng-bind-html="page.title" class="color-cvgx-lightgrey ng-binding"
							 ng-show="page.url.length &gt; 0" target="_self">Contact Us</a>
							<a href="javascript:void(0);" title="Contact Us" ng-bind-html="page.title + ' ' + downArrowIcon" class="dropdown-toggle color-cvgx-lightgrey ng-binding ng-hide"
							 data-toggle="dropdown" ng-show="page.url.length == 0" target="_self">Contact Us <i class="fa fa-angle-down"></i></a>
							<ul class="dropdown-menu ng-hide" ng-show="page.page.length &gt; 0">
								<!-- ngRepeat: droppage in page.page -->
							</ul>
						</li><!-- end ngRepeat: page in mainnav.page -->

					</ul>
				</div>
				<!--/end container-->
			</div>
			<!--/navbar-collapse-->
		</div>
		<!--=== End Header ===-->

		<div class="pg-hdg">
			Track my Parcel
		</div>

		<div class="container content" style="margin-top:90px">

			<div class="col-md-3">
				<form class="sky-form contact-style ng-pristine ng-invalid ng-invalid-required">
					<fieldset class="no-padding" style="background: none !important;">

						<div class="row">
							<div class="col-xs-12">
								<!-- TRACK NO INPUT FIELD -->
								<section>
									<label class="input" style="background-color: none !important;">
										<i class="icon-prepend fa fa-tag"></i>
										<input name="trackNo" id="trackNo" placeholder="Waybill Number" ng-model="trackNo" required="required" class="ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required">
										<button type="button" onclick="GetTrackingXML()" class="btn btn-u btn-u-xs icon-append" title="Find tracking details"><i
											 class="fa fa-search"></i></button>
									</label>
								</section>
							</div>
						</div>

						<div class="row padding-top-20" style="border-top: 0px solid #999;" ng-show="tracking.pleaseWait == false &amp;&amp; tracking.hasData == null">
							<div class="col-xs-12">To track your Avion Express package, enter the waybill number in the field provided and
								press ENTER, or click the search icon.</div>
						</div>

						<div class="ng-waiting row padding-top-20 ng-hide" style="border-top: 0px solid rgb(153, 153, 153);" ng-show="tracking.pleaseWait == true">
							<div class="col-xs-12 text-center">
								<i class="fa fa-3x fa-spin fa-circle-o-notch"></i><br>
								<h3>Please wait...</h3>
							</div>
						</div>

						<div class="ng-waiting row padding-top-20 padding-bottom-20 ng-hide" style="border-top: 0px solid rgb(153, 153, 153);"
						 ng-show="tracking.hasData == false">
							<div class="col-xs-12 text-center color-red">
								<i class="fa fa-3x fa-info-circle"></i><br>
								<h5 class="padding-top-5 color-red">
									No tracking details were found for<br>
									<b class="ng-binding"></b>
								</h5>
								<br>
								<button type="button" class="btn btn-u btn-u-sm btn-u-green" ng-click="clearTracking(true)">Search Again</button>
							</div>
						</div>

						<div class="ng-waiting row padding-top-20 ng-hide" style="border-top: 0px solid rgb(153, 153, 153);" ng-hide="tracking.hasData == false || tracking.hasData == null">
							<div class="col-xs-12">
								<section>
									<img ng-src="" ng-show="tracking.carrierLogo != null" class="ng-hide">
									<img src="index_files/dhl_med.jpg" ng-show="tracking.dhl != null" class="ng-hide">
								</section>
							</div>
							<div class="col-xs-12 ng-hide" ng-show="tracking.dhl != null">
								<section>
									<label class="label">
										Origin:
									</label>
									<label ng-bind-html="tracking.dhl.OriginServiceArea.Description" class="ng-binding"></label>
								</section>
							</div>
							<div class="col-xs-12">
								<section>
									<label class="label">
										Destination:
									</label>
									<label ng-bind-html="tracking.exds.shipment.dArea" ng-show="tracking.exds != null" class="ng-binding ng-hide"></label>
									<label ng-bind-html="tracking.dhl.DestinationServiceArea.Description" ng-show="tracking.dhl != null" class="ng-binding ng-hide"></label>
								</section>
							</div>
							<div class="col-xs-12 ng-hide" ng-show="tracking.exds.shipment.refNo != null || tracking.dhl.ShipperReference.ReferenceID != null">
								<section>
									<label class="label">
										Reference:
									</label>
									<label ng-bind-html="tracking.exds.shipment.refNo" ng-show="tracking.exds.shipment.refNo != null" class="ng-binding ng-hide"></label>
									<label ng-bind-html="tracking.dhl.ShipperReference.ReferenceID" ng-show="tracking.dhl.ShipperReference.ReferenceID != null"
									 class="ng-binding ng-hide"></label>
								</section>
							</div>
						</div>

						<div class="ng-waiting row margin-top-10 padding-bottom-20 ng-hide" style="border-top: 0px solid rgb(153, 153, 153);"
						 ng-hide="tracking.hasData == false || tracking.hasData == null">
							<div class="col-xs-12">
								<button type="button" class="btn btn-u btn-u-sm btn-u-green" ng-click="clearTracking(true)">Search Again</button>
							</div>
						</div>

					</fieldset>
				</form>
			</div>

			<div class="col-md-9">

				<div class="row" ng-hide="tracking.hasData == true">
					<div class="col-xs-12">
						<img class="img-responsive pull-right" style="width:80%;" src="img/avion-express-logistics-solutions.png" alt="Track your package">
					</div>
				</div>

				<ul class="ng-waiting timeline-v2 ng-hide" ng-hide="tracking.hasData == false || tracking.hasData == null" style="">
					<!-- ngRepeat: date in tracking.dates -->
				</ul>
			</div>

		</div>

		<!--=== Footer Version 1 ===-->
		<div class="footer-v1 bg-cvgx-red-img" style="position: absolute; bottom: 0px; width: 100%; height: 62px;">


			<div class="footer">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 text-center">
							<img class="footer-logo-cvgx" src="index_files/logo-avion-express-ftr.png" alt="Logo">
						</div>
					</div>
					<div class="row">
						<div class="col-md-4 md-margin-bottom-40">
							<div class="headline">
								<h2>Main Menu</h2>
							</div>
							<ul class="list-unstyled link-list">
								<!-- ngRepeat: page in footernav.page -->
								<li ng-repeat="page in footernav.page" class="ng-scope"><a href="index.html" title="Home" ng-bind-html="page.title"
									 class="ng-binding">Home</a><i class="fa fa-angle-right fa-pull-right"></i></li><!-- end ngRepeat: page in footernav.page -->
								<li ng-repeat="page in footernav.page" class="ng-scope"><a href="track-a-package.html" title="Track my Parcel"
									 ng-bind-html="page.title" class="ng-binding">Track my Parcel</a><i class="fa fa-angle-right fa-pull-right"></i></li><!-- end ngRepeat: page in footernav.page -->
								<li ng-repeat="page in footernav.page" class="ng-scope"><a href="company-profile.html" title="Company Profile"
									 ng-bind-html="page.title" class="ng-binding">Company Profile</a><i class="fa fa-angle-right fa-pull-right"></i></li><!-- end ngRepeat: page in footernav.page -->
								<li ng-repeat="page in footernav.page" class="ng-scope"><a href="why-avion-express.html" title="Why Avion Express?"
									 ng-bind-html="page.title" class="ng-binding">Why Avion Express?</a><i class="fa fa-angle-right fa-pull-right"></i></li><!-- end ngRepeat: page in footernav.page -->
								<li ng-repeat="page in footernav.page" class="ng-scope"><a href="contact-us.html" title="Contact Us"
									 ng-bind-html="page.title" class="ng-binding">Contact Us</a><i class="fa fa-angle-right fa-pull-right"></i></li><!-- end ngRepeat: page in footernav.page -->

								<li><a href="#" data-toggle="modal" data-target=".bs-example-modal-lg" ng-click="pop('paragraph/privacy-policy')"
									 title="Read our Privacy Policy">Privacy Policy</a><i class="fa fa-angle-right fa-pull-right"></i></li>
								<li><a href="#" data-toggle="modal" data-target=".bs-example-modal-lg" ng-click="pop('paragraph/terms-conditions/18.04.24')"
									 title="Read our Terms &amp; Conditions">Terms &amp; Conditions</a><i class="fa fa-angle-right fa-pull-right"></i></li>
							</ul>
						</div>
						<div class="col-md-4 md-margin-bottom-40">
							<div class="headline">
								<h2>Our Products</h2>
							</div>
							<ul class="list-unstyled link-list">
								<!-- ngRepeat: page in productnav.page -->
								<li ng-repeat="page in productnav.page" class="ng-scope"><a href="domestic-courier-services.html" title="Domestic Courier Services"
									 ng-bind-html="page.title" class="ng-binding">Domestic Courier Services</a><i class="fa fa-angle-right fa-pull-right"></i></li><!-- end ngRepeat: page in productnav.page -->
								<li ng-repeat="page in productnav.page" class="ng-scope"><a href="international-courier-services.html" title="International Courier Services"
									 ng-bind-html="page.title" class="ng-binding">International Courier Services</a><i class="fa fa-angle-right fa-pull-right"></i></li><!-- end ngRepeat: page in productnav.page -->
								<li ng-repeat="page in productnav.page" class="ng-scope"><a href="freight-solutions.html" title="Freight Solutions"
									 ng-bind-html="page.title" class="ng-binding">Freight Solutions</a><i class="fa fa-angle-right fa-pull-right"></i></li><!-- end ngRepeat: page in productnav.page -->
								<li ng-repeat="page in productnav.page" class="ng-scope"><a href="distribution-management-solutions.html" title="Distribution Management Solutions"
									 ng-bind-html="page.title" class="ng-binding">Distribution Management Solutions</a><i class="fa fa-angle-right fa-pull-right"></i></li><!-- end ngRepeat: page in productnav.page -->
							</ul>
						</div>
						<div class="col-md-4 map-img md-margin-bottom-40">
							<div class="headline">
								<h2>Contact Us</h2>
							</div>
							<address class="md-margin-bottom-40 ng-binding" ng-bind-html="multicontent['paragraph/short-contact-details']['content-item']['long-desc']">
								<p>Block A, Ground Floor, Gillooly's View<br>
									Maxwell Office Park, Building 4, Magwa Crescent<br>
									Waterfall City, Midrand, 1625<br>
									PO Box 171, Kyalami Estate, 1684</br>
									South Africa<br>
									<strong></strong><br>
									Tel: +27(10) 005-5948<br>
									Email: <a href="mailto:info@avionexpress.co.za">info@avionexpress.co.za</a><br>
									Open: 9 am – 5 pm CAT Mon – Fri*<br>
									<em></em></p>
							</address>
						</div>
					</div>
				</div>
			</div>
			<!--/footer-->
			<div class="copyright">
				<div class="container">
					<div class="row hidden-xs hidden-sm">
						<div class="col-md-9">
							<p>
								2018 © Avion Express. All Rights Reserved.

							</p>
						</div>
						<!-- Social Links -->
						<div class="col-md-3 text-right">
							<p>Built and Maintained by <a href="http://www.BeauDigital.co.za/" class="color-cvgx-lightgrey no-underline"
								 target="_blank">BeauDigital.co.za</a></p>
						</div>
						<!-- End Social Links -->
					</div>
					<div class="row visible-xs visible-sm">
						<div class="col-xs-12 text-center">
							<p>
								2018 © Avion Express. All Rights Reserved.
								<br>
								Built and Maintained by <a href="http://www.BeauDigital.co.za/" class="color-cvgx-lightgrey no-underline"
								 target="_blank">BeauDigital.co.za</a>
							</p>
						</div>
					</div>
				</div>
			</div>
			<!--/copyright-->
		</div>
		<!--=== End Footer Version 1 ===-->
	</div>
	<!--/wrapper-->

	<!-- SPINNING WAITER OVERLAY -->
	<div class="waiter" style="display: none;">
		<i class="fa fa-3x fa-spin fa-circle-o-notch"></i><br>
		<h3>Please wait...</h3>
	</div>
	<!-- /SPINNING WAITER OVERLAY -->

	<!-- Large modal -->
	<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
	 aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
					<h2 id="myLargeModalLabel2" class="modal-title pop-content-title">Privacy Policy</h2>
				</div>
				<div class="modal-body pop-content-body">
					<h1>What information do we collect? </h1>
					<p>We do not collect any of your personal information. </p>
					<p>When contacting us on our site, as appropriate, you may be asked to enter your: name, e-mail address and phone
						number. You may, however, visit our site anonymously. </p>
					<h1>What do we use your information for? </h1>
					<p>Any of the information you provide will only be used to contact you with feedback to your query. Your
						information, whether public or private, will not be sold, exchanged, transferred, or given to any other company
						for any reason whatsoever.</p>
					<h1>How do we protect your information? </h1>
					<p>We implement a variety of security measures to maintain the safety of your personal information. Our website
						sits behind a secure HTTPS connection, with up to 256-bit encryption. While we strive to protect your personally
						identifiable information and user privacy, we cannot guarantee the security of any information you disclose
						online. We do not make any warranty, express, implied or otherwise, that we will be able to prevent loss, misuse,
						unauthorized access to, or alteration of personally identifiable information you provide to us. You make any
						disclosure of personally identifiable information to us at your own risk. We urge you to take every precaution to
						protect your personally identifiable information when you are on the Internet, including when visiting the Site.</p>
					<h1>Do we use cookies? </h1>
					<p>Yes. Cookies are small files that a site or its service provider transfers to your computers hard drive through
						your Web browser (if you allow) that enables the sites or service providers systems to recognize your browser and
						capture and remember certain information. This is for your convenience.</p>
					<h1>Do we disclose any information to outside parties? </h1>
					<p>We do not sell, trade, or otherwise transfer to outside parties your personally identifiable information. We
						may also release your information when we believe release is appropriate to comply with the law, enforce our site
						policies, or protect ours or others rights, property, or safety. </p>
					<h1>Online Privacy Policy Only </h1>
					<p>This online privacy policy applies only to information collected through our website and not to information
						collected offline.</p>
					<h1>Your Consent </h1>
					<p>By using our site, you consent to our online privacy policy.</p>
					<h1>Changes to our Privacy Policy </h1>
					<p>If we decide to change our privacy policy, we will post those changes on this page. </p>
					<h1>Contacting Us </h1>
					<p>If there are any questions regarding this privacy policy you may contact us using the contact us link provided
						on our site.</p>
				</div>
			</div>
		</div>
	</div>
	<!-- Large modal -->
	<!-- JS Global Compulsory -->
	<!-- <script type="text/javascript" src="index_files/jquery_003.js"></script> -->
	<!-- <script type="text/javascript" src="index_files/jquery-migrate.js"></script> -->
	<script src="node_modules\jquery\dist\jquery.min.js"></script>
	<script type="text/javascript" src="index_files/bootstrap.js"></script>

	<!-- JS Implementing Plugins -->
	<script type="text/javascript" src="index_files/back-to-top.min.js"></script>
	<script type="text/javascript" src="index_files/smoothScroll.min.js"></script>
	<script type="text/javascript" src="index_files/wow.js"></script>

	<!-- JS Page Level -->
	<script type="text/javascript" src="index_files/app.min.js"></script>
	<script type="text/javascript" src="js/all.min.js"></script>
	<script type="text/javascript" src="js/fontawesome.min.js"></script>

	<!-- JS Customization -->
	<script type="text/javascript" src="index_files/custom.js"></script>
	<div class="container">
		<div class="bs-size visible-xs" id="bs-size-xs"></div>
		<div class="bs-size visible-sm" id="bs-size-sm"></div>
		<div class="bs-size visible-md" id="bs-size-md"></div>
		<div class="bs-size visible-lg" id="bs-size-lg"></div>
		<div class="bs-size visible-xl" id="bs-size-xl"></div>
	</div>




	<!--[if lt IE 9]>
		<script src="~/assets/plugins/sky-forms-pro/skyforms/js/sky-forms-ie8.js"></script>
		<![endif]-->
	<!--[if lt IE 10]>
		<script src="~/assets/plugins/sky-forms-pro/skyforms/js/jquery.placeholder.min.js"></script>
		<![endif]-->
	<!-- ANGULARJS -->
	<script type="text/javascript">
		$(document).ready(function () {
			App.init();
			new WOW().init();
		});
		cmsRoot = 'za';
		cmsUrls = 'paragraph/short-contact-details';
	</script>


	<script type="text/javascript">
		//cmsUrl = 'za/track-a-package';
		pg = 'track-a-package';
	</script>

	<script>
	// $( document ).ready(function() {
	// 	GetTrackingXML();
	// });

	function getToken(){
		var token;
		var soapRequest =
			'<?xml version="1.0" encoding="utf-8"?>\
			<soap12:Envelope xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://www.w3.org/2003/05/soap-envelope">\
			<soap12:Body>\
				<Login xmlns="http://citjnb.co.za/citwebservices/">\
				<strUserName>Avion</strUserName>\
				<strPassword>#14771#</strPassword>\
				</Login>\
			</soap12:Body>\
			</soap12:Envelope>';
		var url = "http://www.citwebservices.co.za/citwebservices.asmx?WSDL/Login";
		$.ajax({
			type: "POST",
			url: url ,
			data: soapRequest,
			async: false,
			dataType: "xml",
			contentType: "text/xml; charset=\"utf-8\"",
			success: function(data){
				token = $(data).find("LoginResult").text();
			},
			error: processError,
		});
		return token;
	}

	function GetTrackingXML(token){
		var token = getToken();
		var trackNo = $('#trackNo').val();
		console.log("your token is: " + token);
		console.log("your entered tracking number is: "+trackNo);
		var soapRequest =
			'<?xml version="1.0" encoding="utf-8"?>\
			<soap12:Envelope xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://www.w3.org/2003/05/soap-envelope">\
			<soap12:Body>\
				<GetTrackingXML xmlns="http://citjnb.co.za/citwebservices/">\
				<strUsername>Avion</strUsername>\
				<strToken>'+token+'</strToken>\
				<strAccountNo>14771</strAccountNo>\
				<strWaybillNo>'+trackNo+'</strWaybillNo>\
				</GetTrackingXML>\
			</soap12:Body>\
			</soap12:Envelope>';
		var url = "http://www.citwebservices.co.za/citwebservices.asmx?WSDL/GetTrackingXML";
		$.ajax({
			type: "POST",
			url: url ,
			data: soapRequest,
			dataType: "xml",
			contentType: "text/xml; charset=\"utf-8\"",
			success: function(data,status,req){
				console.log("your tracking is:");
				console.log(data);
			},
			error: processError,
		});
	}

	function processError(data, status, req) {
		console.log(req.responseText);
		console.log(data.responseText);
	}
	</script>
	<!--[if lt IE 9]>
	<script src="~/assets/plugins/respond.js"></script>
	<script src="~/assets/plugins/html5shiv.js"></script>
	<script src="~/assets/plugins/placeholder-IE-fixes.js"></script>
	<![endif]-->

	<div id="topcontrol" style="position: fixed; bottom: 5px; right: 5px; opacity: 0; cursor: pointer;" title="Scroll Back to Top"></div>
</body>

</html>