/*@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,700,700i';*/
@import 'https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i';

.waiter {
    background-color: rgba(255, 255, 255, 0.65);
    height: 100%;
    left: 0px;
    padding-top: 230px;
    position: fixed;
    text-align: center;
    top: 0px;
    width: 100%;
    z-index: 2050;
}

body {
	/*background : #ffffff url(../img/pg-bkg.jpg) center no-repeat;*/
	background-size : cover;
	/*font-family: 'Open Sans', Tahoma, Arial, sans-serif !important;*/
	font-family : 'PT Sans', 'Source Sans Pro', Calibri, 'Segoe UI', 'Trebuchet MS', Tahoma, Verdana, Arial;
	font-size : 15px !important;
}
.wrapper {
	/*background-color : #73bcf2;*/
    background-color: transparent;
}

.modal-body {
    padding: 40px 50px;
}

.header-v6.header-classic-dark,
.header-v6.header-classic-dark .dropdown-menu {
	background-color : #11428E !important;
}
.header-v6.header-classic-dark .dropdown-menu a {
	color : #ffffff !important;
}
.header-v6 .navbar-brand,
.header-v6 .navbar-exodus {
	background-color : #ffffff;
	margin : 0px;
	padding : 0px;
	white-space : nowrap;
}
.header-v6 .navbar-exodus {
	height: 93px;
	max-height: 93px;
	line-height: 65px;
}
.header-v6 .navbar-exodus img {
	max-width: 100%;
	max-height: 100%;
	display: inline-block;
	vertical-align: middle;
}
.header-v6 .navbar-brand img.default-logo {
	margin : 20px 0px;
}
.header-v6 .navbar-brand img.shrink-logo {
	margin : 20px 0px !important;
	width : 154px;
}
.header-v6 img.nav-diag {
	height : 100%;
}
@media (max-width: 991px) {
	.header-v6.header-classic-dark,
	.header-v6.header-classic-dark .dropdown-menu {
		background-color : #ffffff !important;
	}
	.header-v6.header-classic-dark .dropdown-menu a {
		color : #11428E !important;
	}
}

.header {
	/*background : #11428E url(../img/nav-x-bg.jpg) center top no-repeat !important;*/
	height : 92px;
}
.header > .container, .header > .container-fluid {
	/*background : #11428E url(../img/nav-x-bg.jpg) left center no-repeat !important;*/
	/*border-width : 0px !important;*/
	height : 92px;
}
.header-fixed .header.header-sticky {
	transition: none;
}

.header .dropdown > a:after {
    content: none;
}

.header-v6 .navbar-nav > li > a {
    /*font-family: 'PT Sans Narrow' !important;
    font-family: 'Open Sans' !important;*/
	/*font-family: 'Open Sans', Tahoma, HelveticaNeue, Arial, sans-serif !important;
    font-size: 14px !important;*/
	font-family : 'PT Sans', 'Source Sans Pro', Calibri, 'Segoe UI', 'Trebuchet MS', Tahoma, Verdana, Arial;
	font-size : 15px !important;
    font-weight: bold !important;
	padding-left : 12px !important;
	padding-right : 12px !important;
}

.navbar-nav .dropdown-menu li > a {
	font-size : 15px !important;
}
@media (min-width : 992px) and (max-width : 1599px) { /* md + lg */
	.header-v6 .navbar-nav > li > a {
		font-size: 13px !important;
		padding-left : 8px;
		padding-right : 8px;
	}
	.exodus-logo {
		width : 130px;
		margin : 24px 12px;
	}
	.header-fixed .header-v6 .navbar-brand img.default-logo {
		display: none;
	}
	.header-fixed .header-v6 .navbar-brand img.shrink-logo {
		display: inherit;
		margin-left : 12px !important;
		margin-right : 12px !important;
	}
}

@media (max-width: 991px) {
	.modal-body {
		padding : 20px 30px;
	}
	.navbar-nav > li > a, .navbar-nav > li > a:hover, .navbar-nav > li > a:active, 
	.dropdown-menu > li > a, .dropdown-menu > li > a:hover, .dropdown-menu > li > a:active {
		background-color : transparent !important;
	}
	.navbar-nav > li > a:hover, .navbar-nav > li > a:active, 
	.dropdown-menu > li > a:hover, .dropdown-menu > li > a:active {
		color : #ffffff !important;
	}
	.navbar-nav > li > a:hover {
		border-color : #ffffff !important;
	}
	.navbar-nav .dropdown-menu li > a {
		color : #e0e0e0 !important;
	}
	.navbar-nav .dropdown-menu li > a:hover,
	.navbar-nav .dropdown-menu li > a:active {
		color : #ffffff !important;
	}
}
@media (min-width: 992px) {
	body.header-fixed-space-default {
		background-color : #ffffff;
		padding-top: 0px !important;
	}
	body.header-fixed-space-default .wrapper {
		padding-top: 92px;
	}
	.header-fixed .header.header-fixed-shrink > .container {
		margin-bottom: -72px !important;
	}
	/*.header-fixed .header.header-fixed-shrink > .container,
	.header-fixed .header.header-fixed-shrink > .container-fluid {
		margin-top : 25px !important;
		margin-bottom: -82px !important;
		padding-bottom : 0px !important;
	}*/
	.header-fixed .header.header-fixed-shrink .dropdown-menu {
		margin-top: -12px !important;
	}
	/*Logo*/
	.header-fixed .header.header-fixed-shrink .logo img {
		max-width: 144px !important;
		margin: -20px 0px 0px 10px !important;
	}
	.header-fixed .header.header-fixed-shrink .logo img.hidden-shrunk {
		display : none;
	}
	.header-fixed .header.header-fixed-shrink .logo img.visible-shrunk {
		display : block;
	}
	.header-fixed .header.header-fixed-shrink .topbar {
		display : none;
	}
	.header-fixed .header.header-fixed-shrink {
		/*background : #11428E url(../img/nav-x-bg-shrink.jpg) center top no-repeat !important;/*/
		border-bottom-width : 0px !important;
		height : 72px !important;
		margin-top: 0px !important;
		margin-bottom : 0px !important;
		transition: all 0.3s ease-in-out;
		z-index: 1010;
	}
}
@media (min-width: 1600px) { /* xl */
	.header {
		background-position : 60% top !important;
	}
}
@media (min-width : 1200px) and (max-width : 1599px) { /* lg */
	.header {
		background-position : 24% top !important;
	}
	.header-fixed .header.header-fixed-shrink {
		background-position : 17% top !important;
	}
}
@media (min-width : 992px) and (max-width : 1199px) { /* md */
	.header {
		background-position : 24% top !important;
	}
	.header-fixed .header.header-fixed-shrink {
		background-position : 20% top !important;
	}
}
@media (min-width : 768px) and (max-width : 991px) { /* sm */
	.header {
		background-position : 20% top !important;
	}
}
@media (max-width : 767px) { /* xs */
	.header {
		background-position : 24% top !important;
	}
}
.header.header-dark .topbar li a {
	color: #eaeaea !important;
}
.header.header-dark .topbar .topbar-devider {
	border-right: solid 1px #eaeaea !important;
}
.header .topbar ul.languages {
	background-color : #ffffff !important;
	right : 0 !important;
	left : auto !important;
	width : 150px !important;
}
.header .topbar ul.languages:after {
	content : none;
}
.header .topbar ul.languages li a {
	color : #000000 !important;
	padding : 2px 15px !important;
	width : 148px !important;
}
.header .topbar ul.languages li a:hover,
.header .topbar ul.languages li.active a {
	background: #f5f5f5 !important;
}

.exodus-nav {
	background : url(../img/logo-exodus-icon.png) left center no-repeat !important;
	/*height : 32px !important;*/
	margin-left : 12px;
	width : 34px !important;
	transition : all 0.1s ease;
}
.exodus-nav:hover {
	background : url(../img/logo-exodus.png) left center no-repeat !important;
	/*height : 32px !important;*/
	width : 88px !important;
	transition : all 0.1s ease;
}

.bkg-transparent {
	background-color : transparent;
}
.body-sticky-top {
    margin-top: 92px !important;
}

.navbar-sticky-top {
    background-color: #ffffff !important;
    left: 0px !important;
    margin-top: 0px !important;
    position: fixed !important;
    top: 0px !important;
    /*transition: all 0.2s ease-in-out;*/
    width: 100% !important;
}

.footer {
	/*margin-top: 20px;*/
}
.footer-v1 {
}
.footer-logo-cvgx {
	margin-top: -107px;
	margin-bottom : 50px;
	/*width: 120px;*/
}
.footer-v1 .copyright {
	background-color: #123772 !important;
	/*font-size : 0.75em !important;*/
	font-size : 0.9em !important;
}
.footer-v1 .footer {
	background : #11428E right top no-repeat;
}
.footer address {
	font-size : 14px;
	line-height : 1.5em;
}
.footer .link-list li > a {
	font-size : 15px !important;
}

/* for date range picker */

.multi-col li {
    padding: 6px 20px;
}

.multi-col li > a {
    display: block;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}

.multi-col li > a:hover,
.multi-col li > a:focus {
    color: #262626;
    text-decoration: none;
    background-color: #f5f5f5;
}

.fromDate,
.toDate {
    cursor: pointer !important;
}


/* /for date range picker */

img.pg-bkg {
    left: 0px;
    /*bottom : 0px;*/
    position: fixed;
    z-index: -10;
}

@media (orientation: landscape) {
	img.pg-bkg {
		height : auto;
		min-height : 100%;
		width : 100%;
	}
	.hidden-landscape {
		display : none;
	}
	.visible-landscape {
		display : initial;
	}
	.hidden-portrait {
		display : initial;
	}
	.visible-portrait {
		display : none;
	}
}
@media (orientation: portrait) {
	img.pg-bkg {
		height : 100%;
		min-width : 100%;
		width : auto;
	}
	.hidden-landscape {
		display : initial;
	}
	.visible-landscape {
		display : none;
	}
	.hidden-portrait {
		display : none;
	}
	.visible-portrait {
		display : initial;
	}
}

.logo img {
	margin: 0px 0px 0px 0px !important;
}

.pg-hdg {
	background : rgb(24, 81, 167) url(../img/dark-red-bkg.jpg) right top no-repeat;
	background-size : cover;
	color : #ffffff;
	font-size : 3.75em !important;
	font-weight : 700;
	padding : 20px !important;
	text-align : center;
}
.pg-hdg .pg-subhdg {
	font-size : 18px;
	font-weight : normal;
	line-height : 1.5em;
	padding-bottom : 12px;
}

@media (min-width: 1600px) { /* xl */
	.pg-hdg {
		font-size : 3.75em !important;
	}
}
@media (min-width : 1200px) and (max-width : 1599px) { /* lg */
	.pg-hdg {
		font-size : 3.75em !important;
	}
}
@media (min-width : 992px) and (max-width : 1199px) { /* md */
	.pg-hdg {
		font-size : 3em !important;
	}
}
@media (min-width : 768px) and (max-width : 991px) { /* sm */
	.pg-hdg {
		font-size : 2.5em !important;
	}
}
@media (max-width : 767px) { /* xs */
	.pg-hdg {
		font-size : 2em !important;
	}
}

.page-heading {
    /*background : url(../img/bg/bg-mosselbay.jpg) center no-repeat;*/
    background-size: contain;
    /*padding: 90px 0px !important;*/
	width : 100%;
	height: 0;
	padding-top: 66.64%; /* (img-height / img-width * container-width) */
    text-align: center;
    -moz-transition: all .5s;
    -webkit-transition: all .5s;
    transition: all .5s;
}

/*.page-heading:hover {
    background-size: 150%;
}*/

.page-heading h1 {
	/*background-color: rgba(0, 0, 0, 0.65);
	color: #ffffff;*/
	display: inline;
	/*font-family : 'PT Sans' !important;*/
	font-size: 3.75em !important;
	font-weight: 700;
	margin: 0px !important;
	/*padding: 0px 16px !important;*/
	padding-left : 50% !important;
	text-align: center;
	/*text-transform: uppercase;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;*/
}

.color-black {
    color: #000 !important;
}
.color-cvgx-red {
	color : #215fbc !important;
}
.color-cvgx-red:hover {
	color : #0a397f !important;
}
.bg-color-cvgx-red {
	background-color : #215fbc !important;
	color : #e0e0e0 !important;
}
.bg-color-cvgx-red:hover {
	background-color : #0a397f !important;
	color : #ffffff !important;
}
.bg-cvgx-red-img {
	background : #0a397f url(../img/dark-red-bkg.jpg) right top no-repeat;
	background-size : cover;
	color : #ffffff !important;
}
.bg-cvgx-red-img h1, .bg-cvgx-red-img h2, .bg-cvgx-red-img h3, .bg-cvgx-red-img h4, 
.bg-cvgx-red-img div {
	color : #ffffff !important;
}
.color-cvgx-lightgrey {
	color : #e0e0e0 !important;
}
.color-cvgx-lightgrey:hover {
	color : white !important;
}
.bg-color-cvgx-lightgrey {
	background-color : #e0e0e0 !important;
	color : #343434 !important;
}
.bg-color-cvgx-lightgrey:hover {
	background-color : #d1d1d1 !important;
	color : #000000 !important;
}
button.bg-color-cvgx-lightgrey {
	border : 1px solid #cccccc !important;
}
button.bg-color-cvgx-lightgrey:hover {
	border : 1px solid #bdbdbd !important;
}
.no-underline, .no-underline:hover {
	text-decoration : none !important;
}

.owl-clients-v1 .item {
    min-height: 120px;
}

.cp-slider .item .image-wrap > .overlay {
	display: none;
}

/* Revolution Slider Settings */
.tp-caption {
	/*font-family: "Open Sans", Arial, sans-serif;*/
	/*font-family: 'Open Sans', Tahoma, HelveticaNeue, Arial, sans-serif !important;*/
	font-family : 'PT Sans', 'Source Sans Pro', Calibri, 'Segoe UI', 'Trebuchet MS', Tahoma, Verdana, Arial;
	white-space : normal !important;
}
@media (min-width: 1600px) { /* xl */
	.tp-caption {
		/*font-size : 3em !important;*/
	}
}
@media (min-width : 1200px) and (max-width : 1599px) { /* lg */
	.tp-caption {
		/*font-size : 2.5em !important;*/
	}
}
@media (min-width : 992px) and (max-width : 1199px) { /* md */
	.tp-caption {
		/*font-size : 2em !important;*/
	}
}
@media (min-width : 768px) and (max-width : 991px) { /* sm */
	.tp-caption {
		/*font-size : 1.75em !important;*/
	}
}
@media (max-width : 767px) { /* xs */
	.tp-caption {
		/*font-size : 1.75em !important;
		line-height : 1.75em;
		white-space : normal !important;*/
		/*top : initial;*/
	}
}
/* Revolution Slider Settings */

/* GenXml Slider Settings */
.animate.from-top {
	position : absolute;
	top : -100%;
}
.animate.from-bottom {
	position : absolute;
	top : 200%;
}
.genxml-slider {
	background-size : cover !important;
}
.genxml-slide {
	/*font-family: "Open Sans", Arial, sans-serif;*/
	/*font-family: 'Open Sans', Tahoma, HelveticaNeue, Arial, sans-serif !important;*/
	font-family : 'PT Sans', 'Source Sans Pro', Calibri, 'Segoe UI', 'Trebuchet MS', Tahoma, Verdana, Arial;
	line-height : 1em;
	position : absolute;
}
@media (min-width: 1600px) { /* xl */
	.genxml-slider {
		font-size : 3em !important;
	}
}
@media (min-width : 1200px) and (max-width : 1599px) { /* lg */
	.genxml-slider {
		font-size : 2.5em !important;
	}
}
@media (min-width : 992px) and (max-width : 1199px) { /* md */
	.genxml-slider {
		font-size : 2em !important;
	}
}
@media (min-width : 768px) and (max-width : 991px) { /* sm */
	.genxml-slider {
		font-size : 1.75em !important;
	}
}
@media (max-width : 767px) { /* xs */
	.genxml-slider {
		font-size : 1.75em !important;
	}
}
/* GenXml Slider Settings */

.text-xxxl {
	font-size : 4em;
}
.text-xxl {
	font-size : 3.25em;
}
.text-xl {
	font-size : 2.5em;
}
.text-lg {
	font-size : 1.625em;
}
.text-md {
	font-size : 1.125em;
}
.text-sm {
	font-size : 0.865em;
}
.text-xs {
	font-size : 0.5em;
}
.text-tight {
	line-height : 0.5em;
}
.text-fitting {
	line-height : 1em;
}
.text-casual {
	line-height : 1.35em;
}
.text-loose {
	line-height : 1.75em;
}

.header .topbar ul.loginbar > li > a {
	color : #e0e0e0 !important;
}
.header .topbar ul.loginbar > li > a:hover {
	color : #ffffff !important;
	text-decoration : none;
}

.re-title-v1,
.re-title-v2,
.re-text-v1,
.re-text-v2 {
	/*font-family: 'Open Sans', Tahoma, HelveticaNeue, Arial, sans-serif !important;*/
	font-family : 'PT Sans', 'Source Sans Pro', Calibri, 'Segoe UI', 'Trebuchet MS', Tahoma, Verdana, Arial;
}

.sky-form .toggle.toggle-yn i:after {
	content: 'NO';
}
.sky-form .toggle.toggle-yn input:checked + i:after {
	content: 'YES';
}
.sky-form .toggle.toggle-kglb i:after {
	content: 'LB';
}
.sky-form .toggle.toggle-kglb input:checked + i:after {
	content: 'KG';
}
.sky-form .toggle.toggle-cmin i:after {
	content: 'IN';
}
.sky-form .toggle.toggle-cmin input:checked + i:after {
	content: 'CM';
}
.sky-form .toggle.toggle-label {
	color : #8c8b92;
	font-size : 0.98em;
	margin-bottom : 4px !important;
	padding-top : 0px;
	padding-bottom : 0px;
}

.sharp-corners {
	border-radius: 0px;
}